/* --------------------------------- Fontes --------------------------------- */
$font-inter: "Inter", sans-serif !important;
$font-aclonica: "Aclonica", sans-serif !important;
$font-bebas: "Bebas Neue", sans-serif !important;

/* --------------------------------- Fontes --------------------------------- */
$sm-font: 10px;
$md-font: 14px;
$bg-font: 18px;
$lg-font: 22px;

/* ------------------------------- Backgrounds ------------------------------ */

$img-skyrim: url("../../../public/covers/skyrim.png");
$img-gradient: url("../../../public/covers/gradient.svg");
$img-gradienttwo: url("../../../public/covers/graddarker.svg");
$logo-bg: url("../../../public/covers/gameverze.svg");
$logo-sm: url("../../../public/covers/gz.svg");

/* --------------------------------- colors --------------------------------- */

$color-primary: #ffa34f;
$color-secondary: #141414;
