@import "variables";

/* ----------------------------- Primary button ----------------------------- */
.primaryButton {
  padding: 10px 13px;
  font-family: $font-inter;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: transparent;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  font-weight: 600;
  font-size: $sm-font;
  border: 1px solid;
  transition: 0.2s;
  z-index: 1;
}
.primaryButton::before,
.primaryButton::after {
  content: "";
  display: block;
  width: 1px;
  height: 1px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: $color-primary;
  transition: 1s ease;
}
.primaryButton::before {
  top: -1em;
  left: -1em;
}
.primaryButton::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}
.primaryButton:hover::before,
.primaryButton:hover::after {
  height: 200px;
  width: 200px;
}
.primaryButton:hover {
  transition: 0.2s;
  font-weight: 700;
  color: $color-secondary;
}
.primaryButton:active {
  filter: brightness(0.8);
}

.selectedButton {
  padding: 10px 13px;
  font-family: $font-inter;
  background-color: $color-primary;
  color: $color-secondary;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 20px;
  font-weight: 800;
  font-size: $sm-font;
  border: 1px solid;
  transition: 0.2s;
}
