@import "../../styles/variables";

//cards

.card {
  margin: 20px;
  min-width: 160px;
  min-height: 230px;
  max-width: 180px;
  max-height: 250px;
  width: 16vw;
  height: 22vw;
  position: relative;
  text-align: center;
}

.grayscale {
  filter: grayscale(0.8);
}

.grayscale:hover {
  transition: 0.1s;
  filter: grayscale(0);
  transform: scale(1.01);
}

.grayscale:hover .gradientCard {
  transform: scale(1.01);
}

.gradientCard {
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0%;
  width: 100vw;
  height: 100vh;
  background-image: $img-gradienttwo;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  border-radius: 18px;
}

.borderCard {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.cardCover {
  min-width: 250px;
  min-height: 350px;
  width: 18vw;
  height: 24vw;
  margin: 20px;
  z-index: 1;
  text-align: center;
}

.cardImages {
  padding: 0px;
  margin: 0px;
  display: block;
  max-width: 500px;
  max-height: 300px;
  width: auto;
  height: auto;
}

.bgpriceCard {
  width: 100%;
  height: 100px;
}

.pricecard {
  position: relative;
  width: 100%;
  height: 85%;
}

.infoCard {
  width: 100%;
  height: auto;
}

.absoluteCard {
  position: absolute;
  min-width: 160px;
  min-height: 130px;
  max-width: 180px;
  max-height: 150px;
  width: 16vw;
  height: 12vw;
  margin-top: 102px;
  margin-left: 20px;
}

.absoluteCover {
  position: absolute;
  min-width: 250px;
  min-height: 350px;
  margin: 20px;
  width: 18vw;
  height: 24vw;
  text-align: center;
}

//texts

.cardTXT {
  text-align: center;
  margin-top: -45px;
  margin-left: 20px;
  font-family: $font-bebas;
  letter-spacing: 1.5px;
  font-size: $md-font;
  z-index: 2;
}

.cardtext {
  font-family: $font-bebas;
  letter-spacing: 1.5px;
  width: 100%;
  margin-bottom: 10px;
  font-size: $md-font;
}

.infoHeader {
  color: $color-primary;
  text-align: start;
  font-family: $font-bebas;
  font-size: $lg-font;
  margin-bottom: 30px;
  font-style: normal;
  line-height: normal;
  font-weight: 400;
  letter-spacing: 1.384px;
}

.infoImportant {
  color: #ffffff !important;
  font-style: normal !important;
  line-height: normal !important;
  letter-spacing: 1px;
  margin-bottom: 30px;
  font-family: $font-bebas;
}

.infoDescription {
  color: #ffffff80 !important;
  font-style: normal !important;
  line-height: normal !important;
  letter-spacing: 1px;
  font-family: $font-bebas;
}

.pricehead {
  text-align: start;
  font-family: $font-bebas;
  letter-spacing: 1.5px;
  width: 100%;
  font-size: $md-font;
}

.pricesub {
  margin: 2px 0px;
  text-align: start;
  font-family: $font-bebas;
  letter-spacing: 1.5px;
  opacity: 50%;
  width: 100%;
  font-size: $sm-font;
}

.percent {
  color: $color-primary;
  margin: -3.5px 0px;
  text-align: end;
  font-family: $font-bebas;
  letter-spacing: 1.5px;
  width: 100%;
  font-size: $sm-font;
}

.pricevalue {
  text-align: center;
  font-family: $font-bebas;
  letter-spacing: 1.5px;
  width: 100%;
  font-size: $lg-font;
}

.textalign {
  text-indent: 0;
  text-align: start;
}

//buttons

.shopbutton {
  line-height: 2px;
  text-align: center;
  font-family: $font-bebas;
  width: 100%;
  height: 100%;
  font-size: $bg-font;
  border-left: 1px solid #ffffff2c;
  position: relative;
}

.pricecard:hover .shopbutton {
  background-color: #141414 !important;
  color: $color-primary !important;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-left: 1px solid $color-primary;
}

.textbutton {
  margin-left: 2px;
}

.pricecard:hover .textbutton {
  margin-left: 4px;
  transform: translateX(-2px);
  transition: transform 0.3s ease-in-out;
  color: $color-primary !important;
}

.textarrow {
  font-size: $lg-font;
  opacity: 0;
  letter-spacing: -1px;
}

.pricecard:hover .textarrow {
  margin-left: 4px;
  transform: translateX(2px);
  transition: transform 0.3s ease-in-out;
  color: $color-primary !important;
  opacity: 1;
}

//img

.logoAspect {
  margin-bottom: 20px;
  display: block;
  max-width: 230px;
  max-height: 200px;
  width: auto;
  height: auto;
}
