//import SASS variables

@import "../../../../styles/variables";

.important {
  color: #ffffff !important;
  font-style: normal !important;
  line-height: normal !important;
  letter-spacing: 1px;
  margin-bottom: 30px;
  font-family: $font-bebas;
}

.description {
  color: #ffffff80 !important;
  font-style: normal !important;
  line-height: normal !important;
  letter-spacing: 1px;
  font-family: $font-bebas;
}
